apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: twinme-postgres
  namespace: twinme-prod
spec:
  instances: 3
  primaryUpdateStrategy: unsupervised
  
  postgresql:
    parameters:
      max_connections: "200"
      shared_buffers: "256MB"
      effective_cache_size: "1GB"
      maintenance_work_mem: "64MB"
      checkpoint_completion_target: "0.9"
      wal_buffers: "16MB"
      default_statistics_target: "100"
      random_page_cost: "1.1"
      effective_io_concurrency: "200"
      
  bootstrap:
    initdb:
      database: twinme
      owner: twinme
      secret:
        name: postgres-credentials
        
  storage:
    size: 100Gi
    storageClass: fast-ssd
    
  monitoring:
    enabled: true
    
  backup:
    retentionPolicy: "30d"
    barmanObjectStore:
      destinationPath: "s3://twinme-backups/postgres"
      s3Credentials:
        accessKeyId:
          name: backup-credentials
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: backup-credentials
          key: SECRET_ACCESS_KEY
      region: "eu-west-3"
      wal:
        compression: gzip
        encryption: AES256
        
  externalClusters:
  - name: replica-cluster
    connectionParameters:
      host: replica.twinme.ai
      user: streaming_replica
      dbname: twinme
    password:
      name: replica-credentials
      key: password
    barmanObjectStore:
      destinationPath: "s3://twinme-backups/postgres"
      s3Credentials:
        accessKeyId:
          name: backup-credentials
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: backup-credentials
          key: SECRET_ACCESS_KEY
      region: "eu-west-3"
